<div id="contact">
  </simple-switch>
  <label for="Discipline" style="color: rgb(255, 0, 200);">Discipline</label>
  <input class="form-control" name="Discipline" type="text" v-model="value.Discipline" />
  <label for="CountryOrigin" style="color: rgb(255, 0, 200);">Country Origin</label>
  <input class="form-control" name="CountryOrigin" type="text" v-model="value.CountryOrigin" />
  <label for="Brand" style="color: rgb(255, 0, 200);">Brand</label>
  <input class="form-control" name="Brand" type="text" v-model="value.Brand" />
  <label for="Manufacture" style="color: rgb(255, 0, 200);">Manufacture</label>
  <input class="form-control" name="Manufacture" type="text" v-model="value.Manufacture" />
  <div class="row">
      <div class="col-6">
        <label for="SubCategory" style="color: rgb(255, 0, 200);">Sub Category</label>
        <input class="form-control" name="SubCategory" type="text" v-model="value.SubCategory" />
    </div>
      <div class="col-6">
          <label for="Category" style="color: rgb(255, 0, 200);">Category</label>
          <input class="form-control" name="Category" type="text" v-model="value.Category" />
      </div>
  </div>
</div>
