<div id="doc">
    <div class="row">
        <div class="col-2">
            <label for="docType">Doc Type</label>
            <input class="form-control" name="Doc Type" type="text" v-model="value.docType" />

        </div>
        <div class="col-3">
            <label for="docRef">Doc Ref</label>
            <input class="form-control" name="DoccRef" type="text" v-model="value.docRef" />
        </div>
        <div class="col-2">
            <label for="docDate">Doc Date</label>
            <input class="form-control" name="Doc Date" type="text" v-model="value.docDate" />
        </div>
        <div class="col-3">
            <label for="Subject">Subject</label>
            <input class="form-control" name="Subject" type="text" v-model="value.Subject" />
        </div>
        <div class="col-2">
            <label for="callCode">Call Code</label>
            <input class="form-control" readonly name="Call Code" type="text" v-model="value.callCode" />
        </div>
    </div>
</div>
